body{
    padding : 0;
    margin : 0;
}

.canvas{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 75vh;
    margin : 2rem;
}

.main{
    display : flex;
}

@media only screen 
and (max-device-width: 600px)
{
    .canvas{
        display: flex;
        justify-content: start;
        width: calc(100% - 0rem);
        height: fit-content;
    }
    .main{
        margin : 0;
        height: 70vh;
        display : grid;
        grid-template-columns: 100%;
    }
}