<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/input.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/font/ubuntu.css">
</head>
<body>
    <div class="navbar">
        <img  src="/static/images/icon/list.png" width="30" alt="">
        <h2>BABA PARFUME</h2>
        <div class="menu">
            <a href="/dashboard">Dashboard</a>
            <a href="/input">Input</a>
            <a href="/logout">Keluar</a>
            <img  src="/static/images/icon/user.png" width="30" alt="">

        </div>
    </div>


    <div class="main">
        <div  class="canvas">
            <canvas id="main" />
        </div>
    
        <div  class="canvas">
            <canvas id="predictCanvas" />
        </div>
    </div>

   
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let canvas = document.getElementById("main");
        let predCanv = document.getElementById("predictCanvas");
        let predictCanvas = null;
        
        const data = {
        labels : [0,1,2,3,4,5,6],
        datasets: [{
            label: 'Data Penjualan Parfum Bulanan',
            data: [65, 59, 80, 81, 56, 55, 40],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
            ],
            borderWidth: 1
        }]
        };
    
        const config = {
            type: 'bar',
            data: data,
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              },
              plugins: {
                legend: {
                    display: false,
                    labels: {
                        color: 'rgb(255, 99, 132)'
                    }
                },
                title: {
                    display: true,
                    text: 'Data Penjualan Parfum Bulanan',
                    color : '#ffff',
                    font : {
                        weight : 'bold',
                        size : 18
                    }
                }
            }
            },
          };
    
        let cnv = new Chart(canvas, config);
    

        async function fetchData(){
            try{
                const response = await fetch('https://web-production-5eed.up.railway.app/predict');
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }
            
                const json = await response.json();
                console.log(json);
                
                if(predictCanvas!=null){
                    predictCanvas.clear();
                }
                
                const max = json['value'].reduce((a, b) => Math.max(a, b), -Infinity);
                const min = json['value'].reduce((a, b) => Math.min(a, b));
                console.log(json['value']);
                console.log(Math.floor(min/50) * 50);
                predictCanvas = new Chart(predCanv,{
                    type: 'line',
                    data: {
                        labels :  json['data'],
                        datasets : [{
                            label : 'Test',
                            data : json['value']
                        }]
                    },
                    options: {
                    scales: {
                        y: {
                            suggestedMin: Math.floor(min/50) * 50,
                            suggestedMax: Math.ceil(max/50) * 50
                        }
                    },
                    plugins: {
                        legend: {
                            display: false,
                            labels: {
                                color: 'rgb(255, 99, 132)'
                            }
                        },
                        title: {
                            display: true,
                            text: `Prediksi Penjualan Parfum dalam ${json['value'].length} bulan ke depan`,
                            color : '#ffff',
                            font : {
                                weight : 'bold',
                                size : 18
                            }
                        }
                    }
                    },
                });

            }catch(e){
                console.log(e.message);
            }
           
        }

        fetchData();
      
    </script>
</body>
</html>