<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/font/ubuntu.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <center>
                <img class="logo" src="/static/images/logo.png" alt="">
                <h1>Baba Parfume</h1>
            </center>
        </div>

        <div class="login-container">
            <div class="brand">
                <h2 style="text-align : right;">Baba Perfume</h2>
                <img class="logo" src="/static/images/logo.png" alt="">
            </div>
            <div class="login">
                <center>    
                    <h3><span>LOGIN</span></h3>
                </center>
                <form action="/login" method="POST">
                    <label for="">Email</label><br>
                    <input type="text" id="email" name="email" placeholder="Masukkan username "><br>
                    <br>
                    <label for="">Password</label><br>
                    <input type="password" id="password" name="password" placeholder="Masukkan password ">
                    <br>
                    <button  id="login" >LOGIN</button>
                </form>
                <center>
                    <h3 style="margin: 0; font-size : 1rem;">Dont have account ? </h3>
                    <a href="/register">
                        <button class="btn-signup"type="submit">SIGN-UP</button>
                    </a>
                </center>

            </div>
        </div>
    </div>
    <!-- <img src="/static/images/shadow.png" class="shadow" alt=""> -->
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let login = document.getElementById("login");
    let email = document.getElementById("email");
    let password = document.getElementById("password");

    login.addEventListener('click', async(e)=>{
        e.preventDefault();

        try{
            login.disabled = true;
            let response = await fetch('/login', {
                headers : {
                    'content-type' : 'application/json'
                },
                method : "POST",
                body : JSON.stringify({
                    "email" : email.value,
                    "password" : password.value
                })
            });
    
            if(!response.ok){
                let res = await Swal.fire({
                    title: "Error ",
                    text: response.statusText,
                    icon: "error"
                  });
                  return;
            }
    
            let data = await response.json();
            console.log(data);
            let res = await Swal.fire({
                title: data.status == 200 ? "Berhasil" : "Error",
                text: data.message,
                icon: data.status == 200 ? "success": "error"
              });
            if(data.status == 200) window.location.href="/dashboard";
        }catch(e){
            let res = await Swal.fire({
                title: "Error ",
                text: e.message,
                icon: "error"
            });
        }finally{
            login.disabled = false;
        }
    });

    async function setMessage(){
        await Swal.fire({
            icon : "info",
            title :"Informasi",
            text : "Gunakan user admin dan password admin untuk preview/ujicoba, selanjutnya hanya akan bisa diakses oleh admin terima kasih ^-^ ",
            confirmButtonText : "Oke"
        });
    }

    setMessage();
</script>