<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/input.css">
    <link rel="stylesheet" href="/static/css/font/ubuntu.css">
</head>
<body>
    <div class="navbar">
        <img  src="/static/images/icon/list.png" width="30" alt="">
        <h2 class="merek">BABA PARFUME</h2>
        <div class="menu">
            <a href="/dashboard">Dashboard</a>
            <a href="/input">Input</a>
            <a href="/logout">Keluar</a>
            <img  src="/static/images/icon/user.png" width="30" alt="">

        </div>
    </div>

    <div class="main">
        <div class="input-area">
            <div class="form">
                <h1 style="text-align : center;">DATA <br>PENJUALAN</h1>
                <form action="/input">
                    <label for="Input">Aroma : </label><br>
                    <input type="text" class="text" id="aroma"><br>

                    <label for="Input">Waktu : </label><br>
                    <input type="date" class="datetime" id="waktu">

                    <label for="Input">Jumlah Penjualan : </label><br>
                    <input type="number" class="text" id="jumlah"><br>
                    
                    <center>
                        <button class="submit" id="input">Tambahkan</button>
                    </center>
                </form>
            </div>

        </div>


        <div class="data-area">
            <hr class="divider" >
            <div class="table">
                <input style="width : 50%;" id="search" type="text" placeholder="Cari data" class="text">
            </div>

            <div class="table">
                <div class="thead">
                    <span>Aroma</span>
                    <span>Waktu</span>
                    <span>Penjualan</span>
                    <span>Hapus</span>
                </div>
            </div>
        
            <div class="table" style="height : 50vh;">   
                <table style="height: fit-content;">
                    <tbody id="tbody">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let body = document.getElementById('tbody');
    let input = document.getElementById('input');
    let search = document.getElementById('search');
    let aroma = document.getElementById('aroma');
    let waktu = document.getElementById('waktu');
    let jumlah = document.getElementById('jumlah');


    search.addEventListener('change', (e)=>{
        let child = body.children;
        let key = search.value.toLowerCase();
        for(let i = 0; i < child.length; i++){
            let tr = child[i].children;
            if(tr[0].innerHTML.toLowerCase().includes(key) || tr[1].innerHTML.toLowerCase().includes(key) || tr[2].innerHTML.toLowerCase().includes(key)){
                child[i].style.display = "table-row";
            }else{
                child[i].style.display = "none";
            }
        }
    });

    input.addEventListener('click', async(e)=>{
        e.preventDefault();
        try {
            const response = await fetch("/input", { 
              method : "POST" ,
              headers : {
                "content-type" : "application/json"
              },
              body : JSON.stringify({
                  aroma : aroma.value,
                  waktu : waktu.value,
                  jumlah : jumlah.value
              })
          } );
            if (!response.ok) {
              throw new Error(`Response status: ${response.status}`);
            }
        
            const json = await response.json();
            console.log(json);
            fetchData();
          } catch (error) {
            console.error(error.message);
          }
    });


    async function fetchData(){
        try {
            const response = await fetch("/penjualan");
            if (!response.ok) {
              throw new Error(`Response status: ${response.status}`);
            }
        
            body.innerHTML = "";
            const json = await response.json();
            console.log(json);

            json["data"].forEach((e)=>{
                body.innerHTML += `<tr style='height: 2rem;'>
                    <td>${e.aroma}</td>
                    <td>${e.waktu}</td>
                    <td>${e.jumlah}</td>
                    <td>
                        <button class="delete" onClick="deleteData('${e._id}')">Hapus</button>
                    </td>
                </tr>`;
            });
          } catch (error) {
            console.error(error.message);
          }
    }

    function deleteData(id){
        console.log(id);
        $.ajax({
            url : "/delete",
            method : "POST",
            headers : {
                "content-type" : "application/json"
            },
            data : JSON.stringify({
                _id : id
            }),
            success : (res)=>{
                console.log(res);
                Swal.fire({
                    icon : res.status == 200 ? "success" : "error",
                    title : res.status == 200 ? "Berhasil" : "Gagal",
                    text : res.message
                });
                fetchData();
            },
            error : (err)=>{
                console.log(err.statusText);
                Swal.fire({
                    icon : "error",
                    title :"Gagal",
                    text : err.statusText
                });
            }
        });
    }   

    fetchData();

  
</script>