<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/font/ubuntu.css">
</head>
<body>
    <div class="container">
        <div>
            <center>
                <img class="logo" src="/static/images/logo.png" alt="">
                <h1>Baba Parfume</h1>
            </center>
        </div>

        <div class="login-container">
            <div class="brand">
                <h2 style="text-align : right;">Baba Perfume</h2>
                <img class="logo" src="/static/images/logo.png" alt="">
            </div>
            <div class="login">
                <center>    
                    <h3><span>REGISTER</span></h3>
                </center>
                <form action="/login" method="POST">
                    <label for="">Email</label><br>
                    <input type="text" placeholder="Masukkan username "><br>
                    <br>
                    <label for="">Password</label><br>
                    <input type="text" placeholder="Masukkan password "><br>
                    <br>
                    <label for="">Password</label><br>
                    <input type="text" placeholder="Masukkan password ">
                    <br>
                    <button>REGISTER</button>
                </form>
                <center>
                    <h3 style="margin: 0; font-size : 1rem;">Already have account ? </h3>
                    <a href="/">
                        <button class="btn-signup">SIGN-IN</button>
                    </a>
                </center>

            </div>
        </div>
    </div>
    <!-- <img src="/static/images/shadow.png" class="shadow" alt=""> -->
</body>
</html>